.container-fluid{
    background-color: pink;
    
}
<<<<<<< HEAD
body{
    background-color: lightblue;
}
=======
>>>>>>> fb34de4e7d738042eb94749ce641f7bd9f2d6449
.text-center{
    font-size: 32px;
    font-weight: bold;
}
#heading{
    font-size: 28px;
}
#menu
{
    background-color: pink;
    height: 1000px;
    font-family: arial;
    font-size: 1.2em;
}

@media (max-width:768px)
{
    #menu#heading p{
        margin-left: 50px;
        margin-right: 50px;
        
    }
    
}