* {
  box-sizing: border-box;
}
h1{
	margin-bottom: 15px;
	text-align: center;
}
h2{
	float: right;
	position: relative;
	text-align: center;
	border:1px solid black;
	width: 100px;
	height: 30px;
}
p{
	background-color: #add8e6;
	width: 90%;
	height: 150px;
	margin: 40px 40px 30px 30px;
	border: 2px solid black;
	padding: 20px;

}